<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim cum neque quam. Iusto necessitatibus similique,
         esse sint odit ea placeat, beatae earum nesciunt quibusdam ipsam recusandae et sit incidunt? Voluptatibus. </p>
<%- include("partials/footer"); -%>
